/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.col-md-4.mb-4 {
  .card {
    padding-top: 15px;
    height: 350px;
    overflow-y: auto;

    .card-body {
      text-align: center; /* Center the content within the card */
    }

    .card-title {
      margin-top: 10px; /* Add space between image and title */
    }

    .card-text {
      margin-top: 5px; /* Add space between title and ID */
    }
  }
}
img.card-img-top {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; /* Center the image horizontally */
  object-fit: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
