<div class="container">
    <div class="emp-cus-page">
        <div class="d-flex justify-content-between">
            <h1>Current Employees</h1>
            <button (click)="openModal()" class="btn btn-dark">Add New Empoyee</button>
        </div>
        <hr>
    </div>

    <div class="row">
        <ng-container *ngIf="!loading; else loadingEmp">
            <div class="col-md-4 mb-4" *ngFor="let employee of employeeList$ | async">
                <div class="card">
                    <img [src]="employee.picture" class="card-img-top" alt="Employee Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ employee.firstName }} {{ employee.lastName }}
                        </h5>
                        <p class="card-text">Email: {{ employee.email }}</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-warning bi bi-pencil-square"
                            (click)="openModalEdit(employee)"></button>
                        <button class="btn btn-outline-danger bi bi-trash" (click)="openModalDelete(employee)"></button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #loadingEmp>
            <p>Loading...</p>
        </ng-template>
    </div>
</div>